<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.sshutil</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1D78F984-BFAA-4643-8DCA-89CA20E0D6A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AF59769-52A2-44AD-B19E-9951D957D064</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C21B65C6-B8A5-48BC-A255-6008EE897C4F</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>351C9F28-759C-4B50-B4E8-ECD4BCEED9C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB8D066E-1939-4385-B01E-5300D9E83459</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7AF59769-52A2-44AD-B19E-9951D957D064</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>351C9F28-759C-4B50-B4E8-ECD4BCEED9C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C21B65C6-B8A5-48BC-A255-6008EE897C4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>827DB2F0-CFB6-432A-9A16-351C27B5DF3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>jiashu</string>
	<key>description</key>
	<string>a ssh util</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SSHUtil</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ssh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>waiting......</string>
				<key>script</key>
				<string>python3 getServerList.py

</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1D78F984-BFAA-4643-8DCA-89CA20E0D6A7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>sleep 10
rm /tmp/ssh.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DB8D066E-1939-4385-B01E-5300D9E83459</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>python3 shell.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7AF59769-52A2-44AD-B19E-9951D957D064</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>chmod +x /tmp/ssh.sh 
/tmp/ssh.sh</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>351C9F28-759C-4B50-B4E8-ECD4BCEED9C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>827DB2F0-CFB6-432A-9A16-351C27B5DF3A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 decrypt.py $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C21B65C6-B8A5-48BC-A255-6008EE897C4F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>encry</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python3 encryptMysql.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>加密</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A899D431-A137-4584-9507-BDEBF27FFB87</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 encryptMysql.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>980B491B-51E6-4AD4-ADFB-694A8266C3C6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>你可以使用该 workflow 进行一键连接服务器
唤出 alfred 输入框后输入 ssh 触发查询 mysql 中服务器列表信息，并在 alfred 的提示框中进行展示
选择对应的服务器进行回车即可连接该服务器
选择对应服务器使用 command + 回车，复制服务器 ip 到剪切板
选择对应服务器使用 option + 回车，复制服务器 password 到剪切板
为了保证用户端到 mysql 的数据传输安全，支持数据库存入的密码为 aes 加密密码，同时在 workflow 中的环境变量设置解密密钥
同时支持 encry 触发脚本一键将 mysql 中所有的 password按照环境变量中的密钥进行加密并修改存储

此项目为开源项目，github链接为
https://github.com/jiashu1024/alfred-ssh-util
mysql 建表 sql 文件见 github仓库


You can use this workflow to connect to a server with one click
After calling the alfred input box, enter ssh to query the server list information in mysql and display it in alfred's prompt box
Select a server and press Enter to connect to the server
Select the server and run command + Enter to copy the server ip address to the clipboard
Select the corresponding server and use option + Enter to copy the server password to the clipboard
To ensure the security of data transmission from the client to mysql, the password stored in the database is supported as the aes encryption password, and the decryption key is set in the environment variable of workflow
It also supports encry trigger scripts to encrypt and modify all passwords in mysql according to the key in the environment variable

This project is open source and the github link is
https://github.com/jiashu1024/alfred-ssh-util
See the github repository for mysql table building sql files</string>
	<key>uidata</key>
	<dict>
		<key>1D78F984-BFAA-4643-8DCA-89CA20E0D6A7</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>351C9F28-759C-4B50-B4E8-ECD4BCEED9C7</key>
		<dict>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>7AF59769-52A2-44AD-B19E-9951D957D064</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>827DB2F0-CFB6-432A-9A16-351C27B5DF3A</key>
		<dict>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>980B491B-51E6-4AD4-ADFB-694A8266C3C6</key>
		<dict>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>A899D431-A137-4584-9507-BDEBF27FFB87</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>C21B65C6-B8A5-48BC-A255-6008EE897C4F</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>DB8D066E-1939-4385-B01E-5300D9E83459</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>AES</key>
		<string>E$ZYFiLELG*!5sGa</string>
		<key>database</key>
		<string>common</string>
		<key>host</key>
		<string>mysql.zhangjiashu.cn</string>
		<key>password</key>
		<string>NX9AmFhGAE47BG</string>
		<key>port</key>
		<string>27172</string>
		<key>username</key>
		<string>alfred</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>password</string>
		<string>username</string>
		<string>AES</string>
		<string>host</string>
		<string>database</string>
		<string>port</string>
	</array>
	<key>version</key>
	<string>1.1.0</string>
	<key>webaddress</key>
	<string>zhangjiashu.cn</string>
</dict>
</plist>
